<div class="row">
  <img
    src="https://www.canada.ca/etc/designs/canada/wet-boew/assets/sig-blk-en.svg"
  />
  <br />
  <div class="line"></div>
  <div>
    <br />
    <label class="menuHeader"> Menu </label>
    <p>
      <label class="menu"> Home </label> ->
      <label class="menu"> Money and finances </label> ->
      <label class="menu"> Debt and borrowing </label>->
      <label class="menu"> Mortgages</label>
    </p>
  </div>

  <h1 class="mortgageheader">
    <img src="https://itools-ioutils.fcac-acfc.gc.ca/MC-CH/images/MC-CH.svg" />
    <span class="header"> {{ name }}</span>
  </h1>

  <div class="tools-introduction">
    <a href="https://www.canada.ca/en/financial-consumer-agency.html"
      >Financial Consumer Agency of Canada</a
    >
    <p>
      This calculator determines your mortgage payment and provides you with a
      mortgage payment schedule. The calculator also shows how much money and
      how many years you can save by making prepayments.
    </p>
    <p>
      To help determine whether or not you qualify for a home mortgage based on
      income and expenses, visit the
      <a href="https://itools-ioutils.fcac-acfc.gc.ca/MQ-HQ/MQ-EAPH-eng.aspx"
        >Mortgage Qualifier Tool</a
      >.
    </p>
    <p>
      <b>Note:</b> As of July 9, 2012, the maximum amortization period for
      mortgages with less than a 20 percent down payment is <b>25 years</b>.
    </p>
  </div>
</div>

<paymentplan-app></paymentplan-app>
