<div class="summaryDiv">
A Summary Report (printable) can be produced based on values you entered into
the calculator. This report includes all your data, calculation results and
payment schedule (by year and by period).

<h2>Rate This Tool</h2>
<p>
  We want to hear from you!<a
    href="https://fcac-acfc.survey-sondage.ca/f/s.aspx?s=96ddfe9f-0c4a-4623-8a42-bdb29567e6cb"
  >
    Please tell us what you think of this tool and how we can make it
    better.</a
  >
</p>
<p>
  We offer this mortgage calculator as a self-help tool for your use. This
  tool does not replace professional financial advice. We cannot guarantee
  that this calculator will apply or be accurate in your situation. For
  example, your mortgage lender may make its calculations in a different way.
  All calculations are examples only.
</p>

<button class="Reviewbtn" (click)="goToLink()">
  Report a problem on this page
</button>
</div>


